<!--
#top_nav{
    background-color:#5c5766 ;
}
#top_nav a{
    color: white;
}
.fp-tooltip{
    color: aquamarine;
}
.first_page{
    color: white;
}
.about_page{
    color: #a0a0a0;
}
.skill_page{
    color: white;
}
.exp_page{
    color: #a0a0a0;
}
.about_logo{
    background-color:#a0a0a0 ;
    color: white;
}
.m_exp{
    color: white;
}
.mywork_page{
    background-color: #5c5766;
    color:white;
}
.contact{
    background-color: #ffffff;
    color: #a0a0a0;
}
.bg{
    background-color: #fff0ca;
}
.skill_m{
    background-color: #fff0ca;
}


.exp_m{
    background-color: #7d7985;
}

-->
