<!--

/*layout*/
/*global*/
*{
    margin: 0;
    padding: 0;
    font-family: "Microsoft YaHei";
}

h1,h2,h3,h4,h5{
    margin: 20px 0;
}
h1{
    font-size: 40px;
    font-weight: bold;
}
h2{
    font-size: 30px;
    font-weight: normal;
}
h3{
    font-size: 20px;
    font-weight: normal;
}
h4{
    font-size: 13px;
    font-weight: normal;
}
h5{
    font-size: 13px;
    font-weight: lighter;
}
p{
    font-size: 20px;
    margin: 15px 0;
}
header{
    text-align: center;
    height: 120px;
}

.title_en {
    width: 0;
    margin: 18px auto;
    border-top: 2px solid ;
}
.title_en h4 {
    display: none;
}

ul{
    list-style-type: none;
}

#top_nav{
     width: 100%;
     padding: 30px 0;
     text-align: center;
 }
#top_nav li{
    display: inline;
    font-size: 14px;
    padding: 0 77px;
}
#top_nav a{
    text-decoration: none;
    font-weight: bold;
}
#top_nav a:hover{
    color: yellow;
}
.section,header h4{
    display: none;
}
/*p1*/
@keyframes myfirst
{
    from {width:200px;height: 200px  }
    to {width:106px;height: 106px }
}
@-moz-keyframes myfirst /* Firefox */
{
    from {width:200px;height: 200px  }
    to {width:106px;height: 106px }
}
@-webkit-keyframes myfirst /* Safari 和 Chrome */
{
    from {width:200px;height: 200px  }
    to {width:106px;height: 106px }
}
@-o-keyframes myfirst /* Opera */
{
    from {width:200px;height: 200px  }
    to {width:106px;height: 106px }
}
.home_animate{
    animation: myfirst 1s ease-in-out;
    -moz-animation: myfirst 1s ease-in-out;	/* Firefox */
    -webkit-animation: myfirst 1s ease-in-out;	/* Safari 和 Chrome */
    -o-animation: myfirst 1s ease-in-out;	/* Opera */
}

.first_page{
    text-align: center;
    padding: 60px 0;
}
.logo1{
    width: 100%;
    overflow: hidden;
}
.logo1 img{
    width: 106px;
    height: 106px;
    padding: 25px;
    border: solid 4px #c4c0cf;
    border-radius: 100%;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
}
.logo1>div{
    position: relative;
    margin: 0 auto;
}
.m_head{
    padding: 10px 0;

}
.m_head h2{
    opacity: 0;
}
.m_head h1,.m_head h3,.connect,.m_foot{
    display: none;
}
.connect li{
    display: inline;
    margin: 0 13px;
}
.connect img{
    width: 28px;
    height: 28px;
    padding: 10px;
    border: solid 2px #c4c0cf;
    border-radius: 100%;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
}
.connect ul:before{
    content: "——————";
    color: #c4c0cf;
    font-weight: bold;
    position: relative;
    left: 18px;
    top: -20px;
}
.connect ul:after{
    content: "——————";
    color: #c4c0cf;
    font-weight:bold;
    position: relative;
    right: 18px;
    top: -20px;
}
#p1 article{
    margin-bottom: 170px;
}
.m_foot li{
    display: inline;
    margin: 0 40px;
}

/*p2*/
.about_page{
    text-align: center;
    padding: 45px 0;
}
.logo2 img{
    width: 100px;
    height: 100px;
    padding: 15px;
    border: solid 2px #a0a0a0;
    border-radius: 100%;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
}
.about_page article{
    width: 800px;
    margin:0 auto;
    overflow: hidden;
}
.about_logo{
    overflow: auto;
    border-radius: 10px;
    -moz-border-radius:10px;
    -webkit-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.about_logo ul{
    width: 760px;
    height: 140px;
    position: relative;
    margin: 0 auto;
    padding:30px 20px;
    list-style-type: none;
}
.about_logo li{
    float: left;
    width: 110px;
    height: 126px;
    margin: 0 40px;
}
.circle_wrap{
    margin: 0 auto;
    height: 65px;
    width:  65px;
    border: solid 3px #d5d5d5;
    border-radius: 100%;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
}
.about_logo img{
    width: 45px;
    height: 45px;
    padding: 10px;
}
.m_about{
    clear: both;
    margin: 50% auto;
    height: 160px;
    width: 0;
    position: relative;
    overflow: hidden;
    padding: 40px 0;
}
.m_about p{
    position: relative;
    bottom: -300px;
}
.m_about:before{
    content: "";
    width: 58px;
    height:58px;
    border-top:solid 2px;
    border-left:solid 2px;
    position: absolute;
    top: 0;
    left: 0;
}
.m_about:after{
    content: "";
    width: 58px;
    height:58px;
    border-bottom:solid 2px;
    border-right:solid 2px;
    position: absolute;
    bottom: 0;
    right: 0;
}

/*p3*/
.skill_page article{
    overflow: auto;
    padding: 15px 150px;

}
.skill_page>ul{
    position: relative;/*相对定位*/
    height: 640px;
}
.skill_page ul>li{
    width: 400px ;
    float: left;
}
.skill_wrap{
    width: 340px;
    height: 340px;
    margin: 0 auto;
    position: relative;

}
.skill_wrap .bg{
    width: 240px;
    height: 240px;
    position: relative;
    left: 50px;
    top: 50px;
    transform:rotate(45deg);/*图形旋转45度*/
    -webkit-transform:rotate(45deg);
    -moz-transform:rotate(45deg);
    -ms-transform:rotate(45deg);
    -o-transform:rotate(45deg);
    border-radius: 10px;/*圆角*/
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.skill_h{
    position: absolute;
    left: 115px;
    top: 105px;
    text-align: center;
    cursor:pointer;/*指针样式*/
}

.skill_h h2{
    width:110px ;
    text-align: center;
    color: #a0a0a0;
}

.skill_h img{
    width: 30px;
    height: 30px;
    padding: 15px;
    background-color: #e97447;
    border-radius: 100%;/*圆角设定*/
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    transition:all 400ms;
    -moz-transition: all 400ms; /* Firefox 4 */
    -webkit-transition: all 400ms; /* Safari 和 Chrome */
    -o-transition:all 400ms; /* Opera */
}
.img_scale{
    transform:rotate(45deg);/*图形旋转45度*/
    -webkit-transform:rotate(45deg);
    -moz-transform:rotate(45deg);
    -ms-transform:rotate(45deg);
    -o-transform:rotate(45deg);
}

.skill_m{
    height: 185px;
    border-radius: 30px/15px;
    padding: 35px 50px;
    position: relative;
    display: none;
}

.skill_m li{
    margin: 12px 0;
    color: #a0a0a0;
    font-size: 21px;
    list-style-type: disc;
}


/*p4*/
.exp_m{
    position: relative;
    width: 1100px;
    margin: 0 auto;
}
.slide{
    position: relative;
}
.m_exp{
    margin: 0 auto;
    width: 1100px;
    height: 450px;
    background:url(../img/e_bg.png) no-repeat;
    background-size: 1100px 450px;
}

.m_exp>div{
    position: relative;
    text-align: left;
    width: 500px;
    padding:100px 100px;
}
.m_exp ul{
    list-style-type: disc;
}

.exp_logo{
    position: absolute;
    right: 100px;
    top: 100px;
    width: 180px;
    height: 180px;
    z-index: 100;
}
.exp_logo img{
    width: 180px;
    height: 180px;
}
-->
